::-webkit-scrollbar {
  width: 0px;
}


.main-content {
  display: flex;
  flex-direction: row;
  max-width: 975px;
  padding-top: 57.5px;
  height: 100vh;
  overflow-y: hidden;

  @include breakpoint-up(medium) {
    margin: 0 auto;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;

    @include breakpoint-up(large) {
      flex-flow: row nowrap;
      max-width: 935px;
      margin: 0 auto;
    }

   

    .left {
      float: left;
      margin-right: 28px;
      max-width: 614px;
      width: 100%;
      height: 95vh;
      overflow: auto;

      @include breakpoint-up(medium) {
        // margin: 0px auto;
        padding-top: 32px;
      }

      @include breakpoint-down(medium) {
        margin: 0 auto;
      }

      .stories-section__wrapper {
        display: flex;
        flex-direction: row;
        border-radius: 3px;
        margin-bottom: 5px;
        margin-top: 5px;
        background: $white;
        border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
        padding: 10px 0 0 0;
        overflow-x: auto; /*horizontal scroll on*/
        overflow-y: hidden; /*turn off vertical scroll*/
        white-space: nowrap; /*How text wraps around the container. none for this */

        

        @include breakpoint-up(large) {
          position: relative;
          // height: 31rem;
          width: 100%;
          background: $white;
          border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
        }

        .card__container {
          display: flex;
          flex-direction: row;
          .story__container {
            &:not(:first-child) {
              padding: 0 8px 0 8px;
            }

            .card__image {
              align-items: center;
              justify-content: center;
              .card__thumnails {
                width: 50px;
                border-radius: 55px;
              }
            }

            .user__handle {
              .handle {
                font-size: 12px;
                color: $igBlack;
              }
            }
          }
        }
      }

      .feeds-section__wrapper {
        @include breakpoint-up(large) {
          margin: 32px auto;
        }
        .feeds__card {
          display: flex;
          flex-direction: column;
          background: $white;
          border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
          border-radius: 3px;
          margin-bottom: 24px;
          margin-top: 0;
          padding: 16px 0 0 0;
          overflow-x: auto; /*horizontal scroll on*/
          overflow-y: hidden; /*turn off vertical scroll*/
          white-space: nowrap; /*How text wraps around the container. none for this */

          .feeds__userInfo {
            display: flex;
            flex-direction: row;
            padding-bottom: 16px;
            padding-left: 1rem;
            .userProfile__container {
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 100%;

              .postCard__header {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;

                img {
                  width: 46px;
                  border-radius: 50px;
                }

                .userDetails__container {
                  display: flex;
                  flex-direction: column;
                  margin-left: 15px;

                  h3 {
                    font-size: 14px;
                    margin: 0;
                  }

                  small {
                    color: gray;
                  }
                }
              }

              
            }
          }

          .postImage__container {
            position: relative;
            height: 31rem;
            width: 100%;
            @include breakpoint-up(large) {
              position: relative;
              height: 31rem;
              width: 100%;
            } 
            img {
              object-fit: cover;
              left: 0;
              top: 0;
              width: 100%;
              user-select: none;
              border-radius: 0;
              position: absolute;
              height: 100%;
            }
          }

          .postActions__container {
            padding: 0 1rem 1.5rem 1rem;
            .postActions__wrapper {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              margin-top: 0.25rem;
              padding: 0.675rem 0;
  
              .postActions__left {
                a {
                  width: 24px;
                  height: 24px;
                  // padding: 8px 8px;

                  &:not(:first-child) {
                    padding: 8px 0 8px 15px;
                  }
                }
              }
            }

            .postLikesCount__wrapper {
              h3 {
                font-size: 14px;
              }
            }

            .postTitle__wrapper {
              p {
                font-size: 14px;
                font-weight: 500;
                line-height: 1.5;
                
                span {
                  font-weight: bold;
                }
                
              }
            }

            .postComment__wrapper {
              margin-top: -7px;
              .viewAllComment__btn {
                color: gray;
                font-size: 14px;
              }

              .comments__wrapper {
                display: flex;
                flex-direction: column;
                margin-top: 5px;

                div {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  width: 100%;

                  span {
                    a {
                      font-size: 14px;
                      font-weight: 700;
                      color: $igBlack;
                    }
  
                    small {
                      font-size: 14px;
                      margin-left: 5px;
                    }
                  }

                  

                  img {
                    align-self: flex-end;
                    float: right;
                    width: 15px;
                  }
                }
              }

              .postedDate__wrapper {
                padding-top: 8px;
                small {
                  font-size: 12px;
                  color: gray;
                }
              }
            }
          }
        }
      }
    }

    .right {
      display: none;

      @include breakpoint-up(large) {
        display: block;
        left: 686.5px;
        top: 88px;
        height: 80vh;
        margin-bottom: 30px;
        padding: 0;
        width: 45%;
      }

      .suggestions-section__wrapper {
        height: auto;
        margin-bottom: 10px;
        margin-top: 58px;

        .profile__wrapper {
          display: flex;
          flex-direction: row;
          width: 100%;
          align-items: center;

          .profile__image {
            display: flex;
            width: 60px;
            margin-right: 12px;

            img {
              width: 100%;
              border-radius: 35px;
            }
          }

          .profile__info {
            display: flex;
            flex-direction: column;

            h3 {
              font-size: 14px;
              margin: 0 0 3px 0;
            }

            small {
              height: 14px;
              font-size: 14px;
              color: gray;
            }
          }

          .profile__switch {
            width: 30%;
            a {
              text-decoration: none;
              float: right;
              color: #0095f6;
              line-height: 1.3;
              font-family: "Public Sans", sans-serif;
              font-weight: 600;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
